@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@using System.Text.Json;
@{
    ViewData["Title"] = "View Committee Members";
    Layout = "~/Areas/Member/Views/shared/_Layout.cshtml";
    //bool isChairperson = ViewBag.IsChairperson;

    var host = Configuration.GetSection("APIURL")["Link"];
}

<div class="card w-100 h-100 d-flex justify-content-center">
    <div class="card-body">
        <div>
            <img src="~/assets/images/91.gif" id="spinner" />
        </div>
         <!-- Button trigger modal -->
        <button type="button" class="btn btn-info my-3" data-bs-toggle="modal" data-bs-target="#create_committee_member_modal">
            Add Member To Committe
        </button>
      
        <!-- Modal -->
        <div class="modal fade" id="create_committee_member_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <partial name="_CreateCommitteeMemberPartial" />
        </div>

       

        <h5 class="card-title fw-semibold mb-4 text-uppercase">Committee Members</h5>

        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="my_table">
                <thead>
                    <tr>
                        <th>Member Name</th>
                        
                        <th>Member Role</th>
                        @if (ViewBag.IsChairperson)
                        {
                            <th>Action</th>
                        }
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var datatable;
        var tokenValue = '@ViewBag.token';
        var host = '@host';
        console.log('@ViewBag.UserId');
    </script>

 <script src="~/js/CommitteeMember.js" asp-append-version="true"></script>
    
    <script>
    $(document).ready(function () {
            const isChairperson = @Html.Raw(JsonSerializer.Serialize(@ViewBag.IsChairperson));

        let columns = [
            {
                data: "memberShip.fullName",
                name: "memberShip",
                className: "text-left",
                "orderable": false
            },
            {
                data: "role",
                name: "role",
                className: "text-left",
                "orderable": false
            }
        ];

        if (isChairperson) {
            columns.push({
                data: "id",
                name: "id",
                "orderable": false,
                render: function (data, type, row) {
                    console.log(data);
                    return `
                        <a href='#' data-id="${data}" data-token="${tokenValue}" onclick='committeeMemberHandler.delete(event)' type='button' class='btn btn-outline-danger mx-1 btn-sm ti ti-trash' title='edit'> Remove</a> 
                    `;
                }
            });
        }

        datatable = $('#my_table').DataTable({
            "processing": true,
            "serverSide": true,
            "order": [[0, "asc"]],
            ajax: {
                url: "@host/api/CommitteeMembers/paged?committeeId=" + @ViewBag.CommitteeId,
                type: 'get',
                datatype: 'Json',
                headers: {
                    'Authorization': 'Bearer @ViewBag.token'
                },
            },
            columnDefs: [
                {
                    defaultContent: "",
                    targets: "_all",
                    'orderable': true
                }
            ],
            columns: columns,
            responsive: true,
            "autoWidth": false
        });
    });
</script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
