@using Microsoft.Extensions.Configuration
@model MLS_Digital_Management_System_Front_End.Core.DTOs.User.UpdateUserDTO;
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Areas/Member/Views/shared/_Layout.cshtml";

    var host = Configuration.GetSection("APIURL")["Link"];
}


<div class="card  w-100 h-100 d-flex justify-content-center ">
    <div class="card-body">
        <div>
            <img src="~/assets/images/91.gif" id="spinner" />
        </div>
        @if ((ViewBag.roleName).ToLower() == "member")
        {
            <a asp-action="ViewMember" class="btn btn-secondary my-3 " asp-area="member" asp-controller="Home">View Member
                Details
            </a>

        }

        <h5 class="card-title fw-semibold mb-4 text-uppercase">My Profile</h5>
        <div id="update_user_form">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" value="" />

                <div class="row row-cols-lg-2">
                    <div class="mb-3">
                        <label asp-for="FirstName" class="form-label"></label>
                        <input asp-for="FirstName" placeholder="Enter First Name" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="LastName" class="form-label"></label>
                        <input asp-for="LastName" placeholder="Enter Last Name" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="OtherName" class="form-label"></label>
                        <input asp-for="OtherName" placeholder="Enter Other Name" class="form-control" />
                        <span asp-validation-for="OtherName" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="TitleId" class="form-label"></label>
                        <select required asp-for="TitleId" asp-items="@ViewBag.personalTitlesList"
                            class="form-control"></select>
                        <span asp-validation-for="TitleId" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" placeholder="Enter Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Gender" class="form-label"></label>
                        <select asp-for="Gender" class="form-control" disabled>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="IdentityTypeId" class="form-label"></label>
                        <select required asp-for="IdentityTypeId" asp-items="@ViewBag.identityTypesList"
                            class="form-control" disabled></select>
                        <span asp-validation-for="IdentityTypeId" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="IdentityNumber" class="form-label"></label>
                        <input asp-for="IdentityNumber" class="form-control"
                            placeholder="Enter Indentity Number MX285496477" readonly />
                        <span asp-validation-for="IdentityNumber" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="IdentityExpiryDate" class="form-label"></label>
                        <input asp-for="IdentityExpiryDate" type="date" class="form-control"
                            placeholder="Set Identity Expiry Date" readonly />
                        <span asp-validation-for="IdentityExpiryDate" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="CountryId" class="form-label"></label>
                        <select asp-for="CountryId" asp-items="@ViewBag.countriesList" class="form-control" disabled>
                        </select>
                        <span asp-validation-for="CountryId" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="PhoneNumber" class="form-label"></label>
                        <input asp-for="PhoneNumber" class="form-control" placeholder="265999999999" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="DateOfBirth" class="form-label"></label>
                        <input asp-for="DateOfBirth" type="date" class="form-control" placeholder="Set Date of Birth"
                            readonly />
                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="toggleProfilePicture">
                            <label class="form-check-label" for="toggleProfilePicture">
                                Update Profile Picture
                            </label>
                        </div>
                    </div>
                    <!-- Profile picture field with initial hidden state -->
                    <div class="mb-3" id="profilePictureSection" style="display: none;">
                        <label asp-for="ProfilePictures">Profile Picture</label>
                        <div class="custom-file">
                            <input class="form-control custom-file-input" id="ProfilePictures" 
                                accept="image/*" name="ProfilePictures" type="file">
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <button type="button" class="btn btn-primary" id="update_user_btn" name="update_user_btn">Update
                        Profile
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {

    <script>
        var datatable;
        var tokenValue = '@ViewBag.token';
        var userIdGlobal = '@ViewBag.userId';
        var roleNameGlobal = '@ViewBag.roleName';
        var host = '@host';
    </script>

    <script src="~/js/Profile.js" asp-append-version="true"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}