@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "License Applications";
    Layout = "~/Areas/Member/Views/shared/_Layout.cshtml";

    var host = Configuration.GetSection("APIURL")["Link"];
}

@section Styles {

    <style>
           .hidden {
  display: none;
}
    </style>


}



<div class="card  w-100 h-100 d-flex justify-content-center">
    <div class="card-body">
      
       <div>
            <img src="~/assets/images/91.gif" id="spinner" />
        </div>
        
         <!-- Modal -->
        <div class="modal fade" id="register_cpd_training_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <partial name="_RegisterTrainingPartial" />
        </div>

        <h5 class="card-title fw-semibold mb-4 text-uppercase text-center"> CPD's In Operating Year <strong>(@ViewBag.YearOfOperation.FormatedDate)</strong></h5>

        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="cpd_table">
                <thead>
                    <tr>
                        <th>
                           Title
                        </th>
                        <th>
                           Duration(Hours)
                        </th>
                        <th>
                            Event Date
                        </th>
                         <th>
                            Fee
                        </th>
                        <th>
                           CPD Units 
                        </th>
                        <th>
                            Accrediting Institution
                        </th>
                        <th>
                            Reg Status
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts{

    <script>
        var datatable;
        var tokenValue = '@ViewBag.token';
    </script>
    <script>
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
        })
     </script>
     <script src="~/js/CPDTraining.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            datatable = $('#cpd_table').DataTable({


                "processing": true,
                "serverSide": true,
                "order": [[0, "desc"]],
                ajax: {
                    url: "@host/api/CPDTrainings/paged",
                    type: 'get',
                    datatype: 'Json', headers: {
                        'Authorization': 'Bearer @ViewBag.token'
                    },
                    

                   

                },
                columnDefs: [
                    {
                        defaultContent: "",
                        targets: "_all",
                        'orderable': true
                    },
                ],
                columns: [
                    {
                        data: "title",
                        name: "title",
                        className: "text-left",
                        "orderable": false,
                    },
                    {
                        data: "duration",
                        name: "duration",
                        className: "text-left",
                        "orderable": false,
                        render: function(data, type, row) {
                            return data;
                        }
                    },
                    {
                        data: "dateToBeConducted",
                        name: "dateToBeConducted",
                        className: "text-left",
                        "orderable": false,
                    },
                   {
                    data: "trainingFee",
                    name: "trainingFee",
                    className: "text-left",
                    "orderable": false,
                    render: function(data, type, row) {
                        return '<span class="badge bg-primary bg-opacity-85 rounded-pill">MWK ' + data + '</span>';
                    }
                    },
                    {
                        data: "cpdUnitsAwarded",
                        name: "cpdUnitsAwarded",
                        className: "text-left",
                        "orderable": true,
                    },
                     {
                        data: "accreditingInstitution",
                        name: "accreditingInstitution",
                        className: "text-left",
                        "orderable": true,
                    },
                    {
                        data: "cpdTrainingRegistration",
                        name: "cpdTrainingRegistration",
                        "orderable": false,
                        render: function (data, type, row) {
                            if (row.cpdTrainingRegistration.length > 0) {
                                var memberRegistration = row.cpdTrainingRegistration.find(registration => registration.memberId == @ViewBag.MemberId);
                                if (memberRegistration) {
                                    if (memberRegistration.registrationStatus == "Attended") {
                                        return `<span class='badge bg-success bg-opacity-85 rounded-pill'>${memberRegistration.registrationStatus}</span>`
                                    }
                                    if (memberRegistration.registrationStatus == "Pending") {
                                        return `<span class='badge bg-secondary bg-opacity-85 rounded-pill'>${memberRegistration.registrationStatus}</span>`
                                    }
                                    else if (memberRegistration.registrationStatus == "Denied") {
                                        return `<span class='badge bg-danger bg-opacity-85 rounded-pill' data-toggle='tooltip' data-placement='right' title='${memberRegistration.deniedReason}'>${memberRegistration.registrationStatus}</span>`
                                    }
                                    else {
                                        return `<span class='badge bg-warning bg-opacity-85 rounded-pill'>${memberRegistration.registrationStatus}</span>`
                                    }
                                }
                            }
                            else {
                                return "<span class='badge bg-danger bg-opacity-85 rounded-pill'>Not Registered</span>"
                            }
                        }
                    },
                  
                    {
                        data: "id",
                        name: "id",
                        "orderable": false,
                        render: function (data, type, row) {
                                    var memberRegistration = row.cpdTrainingRegistration.find(registration => registration.memberId == @ViewBag.MemberId);
                                    
                                    if(memberRegistration == null || memberRegistration == undefined) {
                                        
                                     return "<a href='#' onclick='cpdTrainingHandler.registerForm(\"" + data + "\",\"" + row.trainingFee + "\")' type='button' class='btn btn-outline-primary my-1 btn-sm ti ti-file' title='register' > Register</a> "
                                        
                                    }
                                }
                    }
                ],
                responsive: true,
                "autoWidth": false,
            });
        });
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
