@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Executive/Views/shared/_Layout.cshtml";
}

<div class="card">
            <div class="card-body">
                <h4 class="card-title text-center">Stats For Practicing Year @ViewBag.currentYear.FormatedDate </h4>
                <div class="row mt-4">
                    <!-- Column -->
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <a asp-action="Index" asp-controller="LicenseApplications" asp-area="Executive" aria-expanded="false">
                            <div class="card card-hover">
                                <div class="p-2 rounded bg-light-primary text-center">
                                    <h1 class="fw-light text-primary">@ViewBag.totalLicenseApplications</h1>
                                    <p class="text-primary">Licence Applications</p> 
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- Column -->
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <a asp-action="Index" asp-controller="ProBonoApplications" asp-area="Executive" aria-expanded="false">
                            <div class="card card-hover">
                                <div class="p-2 rounded bg-light-danger text-center">
                                    <h1 class="fw-light text-danger">@ViewBag.proBonos</h1>
                                    <h6 class="text-danger">Pro Bono Cases Registered</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- Column -->
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <a asp-area="Executive" asp-controller="members" asp-action="Index" aria-expanded="false">
                            <div class="card card-hover">
                                <div class="p-2 rounded bg-light-primary text-center">
                                    <h1 class="fw-light text-primary">@ViewBag.totalMembers</h1>
                                    <p class="text-primary">Members</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- Column -->
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <a asp-area="Executive" asp-controller="Firms" asp-action="Index" aria-expanded="false">
                            <div class="card card-hover">
                                <div class="p-2 rounded bg-light-success text-center">
                                    <h1 class="fw-light text-success">@ViewBag.firmCount</h1>
                                    <p class="text-success">Firms </p>
                                </div>
                            </div>
                        </a>
                    </div>
                   
                    <!-- Column -->
                </div>

            </div>
</div>